{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties", 
      {
        "loose": true
      }
    ],
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    [
      "@babel/plugin-syntax-dynamic-import"
    ]
  ]
}