@import 'variables';

@keyframes rotate {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 1s infinite linear;
}

.outlined {
  color: $active !important;
  background-color: $light-shade !important;
}
