$active: #0060d5;
$negative: #fc6179;
$text: #151f26;
$dark: #002947;
$light: white;
$dark-shade: #d8d8d8;
$light-shade: #fafbfa;

* {
  --mdc-theme-primary: #{$active};
  --mdc-theme-secondary: #{$negative};
}
