$active: #0060d5;
$negative: #fc6179;
$text: #151f26;
$dark: #002947;
$light: white;
$dark-shade: #72838d;
$light-shade: #f5f7f8;

* {
  --mdc-theme-primary: #{$active};
  --mdc-theme-secondary: #{$negative};
}
