@import 'variables';

.row {
  padding: 1em 1em 0 1em;
}

.container {
  color: $text;
  border-color: darken($light-shade, 5%);
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-radius: 0.3em;
  padding-bottom: 1em;

  .i {
    color: red;
  }

  button {
    margin-right: 0.5em;
  }

  button[negative="true"] {
    border-color: $negative;
  }

  a {
    text-decoration: underline;
    color: $active;
    margin-left: 0.3em;
    cursor: pointer;
  }
}
