@import 'variables';

.row {
  padding: 1em 1em 0 1em;
}

.row:last-child {
  padding-bottom: 1em;
}

.container {
  margin: 0 auto;
  max-width: 580px;
  color: $text;
  border-color: $dark-shade;
  border-width: 1px;
  border-style: solid;
  background-color: $light-shade;

  form {
    margin-top: 1em;
    border-top: 1px solid $dark-shade;
    background: $light;
  }

  .i {
    color: red;
  }

  button {
    margin-right: 0.5em;
  }

  button[negative="true"] {
    border-color: $negative;
  }

  a {
    color: $active;
    margin-left: 0.3em;
    cursor: pointer;
  }
}
